# 排除 .env 文件
.env
# 排除所有的 __pycache__ 文件夹
**/__pycache__/
**/*.pyc

# 排除带embeddings的实体和关系文件
export/multihop_rag/final_entities_with_embeddings.csv
export/multihop_rag/final_relationships_with_embeddings.csv
export/multihop_rag/final_entities_with_embeddings_by_chatgpt4o.csv
export/multihop_rag/final_relationships_with_embeddings_by_chatgpt4o.csv